<%= render 'layouts/errors', :object => @list  %>

<%= form_for @list do |f| %>
<div class='form-control'>
  <%= f.label :name  %>
  <%= f.text_field :name %>

</div>
  <p><%= f.submit :class => "btn btn-block" %></p>
<% end %>
